metadata/
recommenders/
.metadata/
.recommenders/
recommenders
metadata
.metadata/.log
.metadata/.log/
/.metadata/.log
RemoteSystemsTempFiles/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
